In [1]:
import pandas as pd

<b>2. Read CSV file in pandas and clean the data and remove/replace null properties

<b>Read CSV file

In [40]:
#  We read CSV file through pandas
df = pd.read_csv('phones.csv',encoding='cp1251', delimiter=';')
df

,Name,Product code,Price(Тг),Brand
0,Смартфон Huawei P40 Lite Midnight Black,459926,119890.0,Huawei
1,Смартфон Huawei P40 Lite E Midnight Black,459929,79890.0,Huawei
2,Смартфон Samsung Galaxy Note 20 Gray,467447,499890.0,Samsung
3,Смартфон Samsung Galaxy A51 128GB Black,433475,139890.0,Samsung
4,Смартфон Samsung Galaxy A71 Black,443395,159890.0,Samsung
...,...,...,...,...
463,Смартфон Prestigio Muze G7 Black,294124,39990.0,Prestigio
464,Смартфон Haier Elegance E13 Gray,140400,66990.0,Haier
465,Смартфон Doogee BL5500 Lite Black,373515,49990.0,Doogee
466,Смартфон Haier Elegance E9 Black,140399,47990.0,Haier
467,Смартфон Haier Power P11 Black,140397,48990.0,Haier

<b>Clean the data

In [41]:
#  I delete the word "Смартфон" at the head of all the names
df['Name'] = [i[9:] for i in df['Name']]

#  I converted all float numbers to integer numbers
df['Price(Тг)'] = [int(i) for i in df['Price(Тг)']]
df

                                 Name  Product code  Price(Тг)      Brand
0      Huawei P40 Lite Midnight Black        459926     119890     Huawei
1    Huawei P40 Lite E Midnight Black        459929      79890     Huawei
2         Samsung Galaxy Note 20 Gray        467447     499890    Samsung
3      Samsung Galaxy A51 128GB Black        433475     139890    Samsung
4            Samsung Galaxy A71 Black        443395     159890    Samsung
..                                ...           ...        ...        ...
463           Prestigio Muze G7 Black        294124      39990  Prestigio
464           Haier Elegance E13 Gray        140400      66990      Haier
465          Doogee BL5500 Lite Black        373515      49990     Doogee
466           Haier Elegance E9 Black        140399      47990      Haier
467             Haier Power P11 Black        140397      48990      Haier

[468 rows x 4 columns]

<b>Remove/Replace null properties

In [42]:
#  We have not null properties
df.isnull().sum()

Name            0
Product code    0
Price(Тг)       0
Brand           0
dtype: int64

<b>3. Group, transform data and apply functions

<b>GROUP

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

In [52]:
#  I grouped the phones by brand
brands = df.groupby('Brand')
brands

In [44]:
#  And I print name of brand and its phones
for brand, brand_df in brands:
    print(brand)
    print(brand_df)
    print()

Apple
                                        Name  Product code  Price(Тг)  Brand
30                Apple iPhone 7 32GB Black          70318     171390  Apple
31           Apple iPhone SE 64GB 2020 Black        460162     249890  Apple
35                  Apple iPhone 7 32GB Gold         70391     169990  Apple
49          Apple iPhone SE 128GB 2020 Black        460170     279890  Apple
50            Apple iPhone 12 mini 64GB Blue        474923     399890  Apple
..                                       ...           ...        ...    ...
448  Apple iPhone SE 256GB 2020 (PRODUCT)RED        460169     344890  Apple
452         Apple iPhone 12 mini 256GB White        474931     510290  Apple
454         Apple iPhone 12 mini 256GB Green        474934     510290  Apple
458       Apple iPhone 7 256GB Rose Gold CPO        304306     179990  Apple
459  Apple iPhone 12 mini 256GB (PRODUCT)RED        474932     510290  Apple

[106 rows x 4 columns]

Beeline
                                      Name  Product code  Price(Тг)    Brand
346  Beeline Smart 8 Черный + ТП Всё 1500          70563       7990  Beeline

Doogee
                           Name  Product code  Price(Тг)   Brand
443     Doogee BL5500 Lite Blue        373516      49990  Doogee
460  Doogee X90L Phantom Purple        373522      42890  Doogee
465    Doogee BL5500 Lite Black        373515      49990  Doogee

Fly
                       Name  Product code  Price(Тг) Brand
422     Fly Stratus 7 Black         87276      12990   Fly
438  Fly Life Compact Black         87277      12990   Fly

HTC
                          Name  Product code  Price(Тг) Brand
263  HTC Wildfire E1 Plus Blue        436911      54990   HTC
276       HTC Wildfire E1 Gold        436913      49990   HTC

Haier
                          Name  Product code  Price(Тг)  Brand
268              Haier I8 Blue        140402      49990  Haier
414       Haier Alpha A6 Black        140390      14990  Haier
430       Haier Power P8 Black        140392      17990  Haier
431        Haier Alpha A6 Blue        140391      14990  Haier
449       Haier Alpha A1 White        140389       9990  Haier
451       Haier Alpha A1 Black        140388       9990  Haier
461      Haier Power P10 Black        140396      47990  Haier
462  Haier Alpha A3 Lite Black        140393      12990  Haier
464    Haier Elegance E13 Gray        140400      66990  Haier
466    Haier Elegance E9 Black        140399      47990  Haier
467      Haier Power P11 Black        140397      48990  Haier

Honor
                            Name  Product code  Price(Тг)  Brand
368  Honor 9X Middle Night Black        421113      79990  Honor
374              Honor 10i Black        397079      69990  Honor
381                Honor 8S Gold        303837      39990  Honor
393                Honor 7A Gold        303840      26990  Honor
409                Honor 8S Blue        303836      39990  Honor
410               Honor 7A Black        303838      26890  Honor
415                Honor 7A Blue        303839      26890  Honor

Huawei
                                     Name  Product code  Price(Тг)   Brand
0          Huawei P40 Lite Midnight Black        459926     119890  Huawei
1        Huawei P40 Lite E Midnight Black        459929      79890  Huawei
10     Huawei P Smart 2019 Midnight Black         87278      69890  Huawei
11   Huawei P Smart Z 64GB Midnight Black        312503      99890  Huawei
12        Huawei Mate 30 Pro Space Silver        443245     449890  Huawei
13     Huawei Y7 2019 32GB Midnight Black        191145      69890  Huawei
14       Huawei P30 Pro Breathing Crystal        293644     349890  Huawei
15                      Huawei P30 Aurora        293643     249890  Huawei
17   Huawei P30 Lite 128GB Midnight Black        293640      89890  Huawei
28          Huawei P40 Lite E Aurora Blue        459930      79890  Huawei
29            Huawei P40 Lite Sakura Pink        459928     119890  Huawei
48     Huawei P30 Lite 128GB Peacock Blue        293641      89890  Huawei
87      Huawei Y5 Lite 16GB Modern Black         312529      39890  Huawei
91                  Huawei P40 Pro Silver        460112     499890  Huawei
98        Huawei P Smart 2019 Aurora Blue         87279      69890  Huawei
101  Huawei P40 Lite Midnight Crush Green        459927     119890  Huawei
109  Huawei P30 Lite 256GB Midnight Black        436971     149890  Huawei
110       Huawei Y5 Lite 16GB Amber Brown        312530      39890  Huawei
111      Huawei Y5 2019 32GB Saphire Blue        303921      49890  Huawei
114       Huawei Nova 5T Midsummer purple        421539     179890  Huawei
120     Huawei Y6 2019 32GB Sapphire Blue        191142      52890  Huawei
124                 Huawei P30 Pro Aurora        293645     349890  Huawei
126    Huawei P Smart Z 64GB Saphire Blue        312504      99890  Huawei
131              Huawei Y6P Emerald Green        461727      69890  Huawei
136       Huawei Y5 2019 32GB Amber Brown        303920      49890  Huawei
139   Huawei P Smart Z 64GB Emerald Green        312505      99890  Huawei
141                  Huawei P40 Pro Black        460113     499890  Huawei
142    Huawei P30 Lite 256GB Peacock Blue        436972     149890  Huawei
150          Huawei Y6S 64GB Starry Black        436967      59890  Huawei
157             Huawei Nova 5T Crush blue        421538     179890  Huawei
161          Huawei P30 Breathing Crystal        293642     249890  Huawei
164       Huawei Y6 2019 32GB Amber Brown        191143      52890  Huawei
165                 Huawei Y5P Mint Green        461730      44890  Huawei
168                      Huawei P40 Black        460111     349890  Huawei
183   Huawei Y9 Prime 2019 Midnight Black        427256     119890  Huawei
184           Huawei Y6S 64GB Orchid Blue        436968      59890  Huawei
187          Huawei Y8P Breathing Crystal        461725      99890  Huawei
194             Huawei Y9S Midnight Black        436969     129890  Huawei
198       Huawei P smart 2021 Crush Green        484456     109890  Huawei
206    Huawei Y9 Prime 2019 Emerald Green        427257     119890  Huawei
210             Huawei Y8P Midnight Black        461724      99890  Huawei
233    Huawei P smart 2021 Midnight Black        484455     109890  Huawei
324    Huawei Y6 2019 32GB Midnight Black        191137      52890  Huawei
327      Huawei Y5 2019 32GB Modern Black        303922      49890  Huawei
357       Huawei Y7 2019 32GB Aurora Blue        191144      69890  Huawei
362               Huawei Y5P Phantom Blue        461729      44890  Huawei
363          Huawei Y9S Breathing Crystal        436970     109890  Huawei
388             Huawei Y5P Midnight Black        461728      44890  Huawei
391             Huawei Y6P Midnight Black        461726      69890  Huawei

INOI
                Name  Product code  Price(Тг) Brand
267   INOI 5 Pro Red        394440      39990  INOI
282     INOI 6 Black        394451      44990  INOI
292  INOI 5i Pro Red        394450      44990  INOI

Meizu
                         Name  Product code  Price(Тг)  Brand
347  Meizu M5 Note 16 Gb Grey         72166      29990  Meizu

Nokia
                                              Name  Product code  Price(Тг)  \
178       Nokia 7.2  4/64GB Eacua Green TA-1196 DS        463980      89990
232  Nokia 1.3 1/16GB Charcoal (TA-1205 DS) cis ua        463985      34990
234    Nokia 2.3 TA-1206 DS 2/32 EAC UA Cyan Green        463983      54990
236                      Nokia 5.3 4/64GB Charcoal        469292      79990
256                                 Nokia 5.3 Blue        469293      79990
260                               Nokia 2.4 Purple        484453      54990
269      Nokia 2.3 TA-1206 DS 2/32 EAC UA Charcoal        463982      54990
278          Nokia 2.3 TA-1206 DS 2/32 EAC UA Sand        463984      54990
295                                 Nokia 2.4 Grey        484452      54990
378                              Nokia 1 Dark Blue         79197      25990
400        Nokia 1.3 1/16GB Cyan TA-1205 DS cis ua        463986      34990
417                        Nokia 7.2 64GB Charcoal        414483      89990
423                          Nokia 6.2 32GB Черный        421116      79990
429       Nokia 7.2 6/128GB Eacua Green TA-1196 DS        463981     119990
435                            Nokia 5.1 16GB Blue         81034      54990
450                            Nokia 7.1 4/64 Blue         84733      79990
453                           Nokia 3.2 16GB Black        361279      44990

     Brand
178  Nokia
232  Nokia
234  Nokia
236  Nokia
256  Nokia
260  Nokia
269  Nokia
278  Nokia
295  Nokia
378  Nokia
400  Nokia
417  Nokia
423  Nokia
429  Nokia
435  Nokia
450  Nokia
453  Nokia

OPPO
                                       Name  Product code  Price(Тг) Brand
9                       OPPO A1k 32GB Black        303523      59790  OPPO
74                        OPPO A1k 32GB Red        303524      49490  OPPO
94                ОРРО A9 2020 Space Purple        393624     109990  OPPO
100       ОPPO A91 8/128GB Lightening Black        460336     139990  OPPO
107                  ОРРО A72 Aurora Purple        461618     119990  OPPO
118                   ОРРО A12 3/32GB Black        463987      69990  OPPO
143                OPPO Find X2 256GB Black        460343     499990  OPPO
147           ОРРО A91 8/128GB Blazing Blue        460337     139990  OPPO
148               ОРРО A9 2020 Vanilla Mint        436885     109990  OPPO
149                   ОРРО A52 Stream White        461620      99990  OPPO
156                 ОРРО A72 Twilight Black        461616     119990  OPPO
160      ОРРО Reno4 Lite 8/128GB Magic Blue        475682     159990  OPPO
166                    ОРРО A12 3/32GB Blue        463988      69990  OPPO
173                 ОРРО A52 Twilight Black        461619      99990  OPPO
174     ОРРО Reno4 Lite 8/128GB Matte Black        475681     159990  OPPO
175                ОРРО A53 64GB Mint Cream        474898      89990  OPPO
186         ОРРО Reno3 128GB Midnight Black        460339     249990  OPPO
192                  ОРРО A72 Shining White        461617     119990  OPPO
197            ОРРО A53 64GB Electric Black        474897      89990  OPPO
207  ОРРО Reno4 Lite 8/128GB Metallic White        475683     159990  OPPO
209              ОРРО Reno3 128GB Sky White        460340     213390  OPPO
214     ОРРО Reno4 Pro 8/256GB Starry Night        475685     349990  OPPO
218               ОРРО A53 128GB Mint Cream        474901     109990  OPPO
223                ОРРО A53 64GB Fancy Blue        474899      89990  OPPO
231                     ОРРО A91 Modern Red        471765     139990  OPPO
261           ОРРО A53 128GB Electric Black        474900     109990  OPPO
271               ОРРО A53 128GB Fancy Blue        474902     109990  OPPO
311                  ОРРО A15 Dynamic Black        485739      69990  OPPO
312                 ОРРО A15s Dynamic Black        485457      79990  OPPO
313                  ОРРО A15s Mystery Blue        485458      79990  OPPO
314                   ОРРО A15 Mystery Blue        485740      69990  OPPO
323             ОРРО A5 2020 Dazzling White        393622      79990  OPPO
325                            ОPPO A5s Red        303521      59990  OPPO
326               ОРРО A9 2020 Marine Green        393623     109990  OPPO
345                           OPPO A5s Blue        303522      59990  OPPO
358               ОРРО A5 2020 Mirror Black        393621      79990  OPPO
379            ОРРО A31 4/64G Mystery Black        459902      79990  OPPO
404    ОРРО Reno3 Pro 256GB Moonlight Black        460341     399990  OPPO
406              ОРРО A31 4/64G BLake Green        459903      76290  OPPO
407                   Оppo Reno Z Jet Black        312946      89990  OPPO
412           ОРРО A31 4/64GB Fantasy White        459904      79990  OPPO
416           ОРРО Reno3 128GB Auroral Blue        460338     201490  OPPO
420               Оppo Reno Z Aurora Purple        312945      89990  OPPO
428             OPPO RX17 Pro Emerald Green         84707      99990  OPPO
439        ОРРО Reno3 Pro 256GB Starry Blue        460342     399990  OPPO
444    ОРРО Reno4 Pro 8/256GB Galactic Blue        475684     349990  OPPO

Poco
                                    Name  Product code  Price(Тг) Brand
73           Poco X3 6+128GB Shadow Gray        474695     129990  Poco
85           Poco X3 6+128GB Cobalt Blue        474696     129990  Poco
162           Poco X3 6+64GB Shadow Gray        474693     119990  Poco
193           Poco X3 6+64GB Cobalt Blue        474694     119990  Poco
211                Poco M3 4/64GB Yellow        484681      69990  Poco
221                 Poco M3 4/128 Yellow        484682      79990  Poco
245             Poco M3 4/64 Power Black        484679      69990  Poco
255               Poco M3 4/64 Cool Blue        484680      69990  Poco
385    Poco F2 Pro 6/128GB Phantom White        461330     249990  Poco
401  Poco F2 Pro 6/128GB Electric Purple        461329     249990  Poco
421  Poco F2 Pro 8/256GB Electric Purple        461333     279990  Poco
426       Poco F2 Pro 8/256GB Cyber Grey        461331     279990  Poco
437        Poco F2 Pro 8/256GB Neon Blue        461332     279990  Poco

Prestigio
                                   Name  Product code  Price(Тг)      Brand
153              Prestigio Muze K3 Gold        389865      25990  Prestigio
185             Prestigio Muze K3 Black        389864      22590  Prestigio
359            Prestigio Wize YA3 Black        389863      13990  Prestigio
386               Prestigio Wize Q3 RED         86514      14990  Prestigio
427   Prestigio Wize Q3 PSP3471DUO Blue         80129      14990  Prestigio
436  Prestigio Wize Q3 PSP3471DUO Black         80128      14990  Prestigio
455              Prestigio Wize Q3 Gold         86513      14990  Prestigio
456             Prestigio Muze E5 Black        294123      17990  Prestigio
463             Prestigio Muze G7 Black        294124      39990  Prestigio

Samsung
                                            Name  Product code  Price(Тг)  \
2                    Samsung Galaxy Note 20 Gray        467447     499890
3                 Samsung Galaxy A51 128GB Black        433475     139890
4                       Samsung Galaxy A71 Black        443395     159890
5                  Samsung Galaxy S20 Ultra Gray        440300     579890
6             Samsung Galaxy Note 20 Ultra Black        467450     599890
..                                           ...           ...        ...
399             Samsung Galaxy Fold Cosmos Black        426999     549890
402          Samsung Galaxy Note 10+ 256GB White        360574     299890
418  Samsung Galaxy S10+ 8GB/512GB Ceramic White        293647     279990
432             Samsung Galaxy Fold Space Silver        433470     549890
457                 Samsung Galaxy A9 128GB Pink         86240     109890

       Brand
2    Samsung
3    Samsung
4    Samsung
5    Samsung
6    Samsung
..       ...
399  Samsung
402  Samsung
418  Samsung
432  Samsung
457  Samsung

[109 rows x 4 columns]

Sony
                                Name  Product code  Price(Тг) Brand
367    Sony Xperia 10 Plus 64GB Navy        328235     109990  Sony
433  Sony Xperia 10 Plus 64GB Silver        328236     109990  Sony
440         Sony Xperia 1 128GB Grey        328240     219990  Sony
446   Sony Xperia 10 Plus 64GB Black        328234     109990  Sony

Vivo
                               Name  Product code  Price(Тг) Brand
45             Vivo Y91C Ocean Blue        389867      49990  Vivo
79            Vivo Y12 Burgundy Red        394430      74990  Vivo
96               Vivo Y12 Aqua blue        394429      74990  Vivo
99            Vivo V17 Knight Black        436883     119990  Vivo
103          Vivo Y91C Fusion Black        389866      49990  Vivo
163            Vivo V17 Nebula Blue        436884     119990  Vivo
167           Vivo Y19 Spring White        421117      89990  Vivo
180         Vivo X50 Pro Alpha Grey        467575     299990  Vivo
213         Vivo Y12s Phantom Black        475476      64990  Vivo
220     Vivo Y30 4/64GB Dazzle Blue        467045      84990  Vivo
225            Vivo X50 Glaze Black        467573     199990  Vivo
229   Vivo Y30 4/64GB Emerald Black        467044      84990  Vivo
242          Vivo V20 Sunset Melody        482711     169990  Vivo
246          Vivo V20 Midnight Jazz        482710     169990  Vivo
249           Vivo Y12s Nebula Blue        475477      64990  Vivo
264        Vivo V20SE Gravity Black        482708     134990  Vivo
270             Vivo X50 Frost Blue        467574     199990  Vivo
275            Vivo Y1s Olive Black        475474      59990  Vivo
277          Vivo V20SE Oxygen Blue        482709     134990  Vivo
280            Vivo Y1s Ripple Blue        475475      59990  Vivo
296            Vivo Y20 Nebula Blue        484458      74990  Vivo
297         Vivo Y20 Obsidian Black        484457      74990  Vivo
315    Vivo Y31 4/128 GB Ocean Blue        485742     109990  Vivo
317  Vivo Y31 4/128 GB Racing Black        485741     109990  Vivo
369         Vivo Y19 Magnetic Black        421118      89990  Vivo

Xiaomi
                                                  Name  Product code  \
33                     Xiaomi Redmi 9A 2/32GB Sky Blue        464379
36   Xiaomi Redmi Note 9 Pro 6/128GB Interstellar Grey        461320
42                 Xiaomi Redmi 9A 2/32GB Granite Gray        464378
43            Xiaomi Redmi Note 9S 6/128GB Aurora Blue        470191
44                   Xiaomi Redmi 9 4/64GB Carbon Grey        463992
54            Xiaomi Redmi Note 9 3/64GB Midnight Grey        461311
55      Xiaomi Redmi Note 9S 6/128GB Interstellar Grey        470190
56       Xiaomi Redmi Note 9S 4/64GB Interstellar Grey        460073
63    Xiaomi Redmi Note 9 Pro 6/64GB Interstellar Grey        461317
64                   Xiaomi Redmi 9 3/32GB Carbon Grey        463989
67                Xiaomi Redmi 9C 3/64GB Midnight Gray        470185
68             Xiaomi Redmi Note 9S 4/64GB Aurora Blue        460074
70       Xiaomi Redmi Note 9 Pro 6/128GB Glacier White        461322
71                    Xiaomi Mi 10 8/256GB Coral Green        461326
72                   Xiaomi Redmi 9 4/64GB Ocean Green        463993
76            Xiaomi Redmi Note 9 4/128GB Forest Green        461315
77              Xiaomi Redmi Note 9 3/64GB Polar White        461313
78       Xiaomi Redmi Note 9 Pro 6/64GB Tropical Green        461318
80                 Xiaomi Redmi 9 4/64GB Sunset Purple        463994
84             Xiaomi Redmi Note 9 4/128GB Polar White        461316
88          Xiaomi Redmi Note 9S 6/128GB Glacier White        470192
92           Xiaomi Redmi Note 9 4/128GB Midnight Grey        461314
95                   Xiaomi Redmi 9 3/32GB Ocean Green        463990
97           Xiaomi Redmi Note 9S 4/64GB Glacier White        460075
104            Xiaomi Redmi Note 9 3/64GB Forest Green        461312
117             Xiaomi Redmi Note 9 4/128GB Onyx Black        470188
119       Xiaomi Redmi Note 9 Pro 6/64GB Glacier White        461319
135              Xiaomi Redmi Note 9 3/64GB Onyx Black        470189
146                Xiaomi Redmi 9 3/32GB Sunset Purple        463991
272                Xiaomi Redmi 9T 4/128GB Carbon Gray        485010
283                 Xiaomi Redmi 9T 4/64GB Carbon Gray        485007
287                Xiaomi Redmi 9T 4/128GB Ocean Green        485011
291               Xiaomi Redmi 9T 4/64GB Twilight Blue        485008
305             Xiaomi Redmi 9T 4/128GB Sunrise Orange        485012
307              Xiaomi Redmi 9T 4/64GB Sunrise Orange        485009
316       Xiaomi Redmi Note 9 4/128GB Onyx Black (NFC)        486086
334           Xiaomi Redmi Note 8 4/128GB Neptune blue        459901
339            Xiaomi Redmi Note 8 4/128GB Space Black        459900
341     Xiaomi Redmi Note 9 Pro 6/128GB Tropical Green        461321

In [45]:
# This is the total price of phones of this brand
df.groupby('Brand')["Price(Тг)"].sum()

Brand
Apple        48348840
Beeline          7990
Doogee         142870
Fly             25980
HTC            104980
Haier          342890
Honor          310730
Huawei        6618610
INOI           129970
Meizu           29990
Nokia         1090830
OPPO          6400040
Poco          2129870
Prestigio      180510
Samsung      31337610
Sony           549960
Vivo          2769750
Xiaomi        6013450
ZTE            114950
Name: Price(Тг), dtype: int64

In [46]:
# This is the average price of phones of this brand
df.groupby('Brand')["Price(Тг)"].mean()

Brand
Apple        456121.132075
Beeline        7990.000000
Doogee        47623.333333
Fly           12990.000000
HTC           52490.000000
Haier         31171.818182
Honor         44390.000000
Huawei       135073.673469
INOI          43323.333333
Meizu         29990.000000
Nokia         64166.470588
OPPO         139131.304348
Poco         163836.153846
Prestigio     20056.666667
Samsung      287501.009174
Sony         137490.000000
Vivo         110790.000000
Xiaomi       109335.454545
ZTE           22990.000000
Name: Price(Тг), dtype: float64

<b>TRANSFORM DATA

transform(func, axis=0): call a function func on self producing a DataFrame with transformed values. It returns a DataFrame that has the same length as self.

In [47]:
#  I create column "Number"
df['Number'] = 1

#  And I find the total of phones of the same brand through the transform
df['Size'] = df.groupby('Brand')['Number'].transform(len)

# Then, I delete column "Number"
df = df.drop('Number', axis=1)
df

,Name,Product code,Price(Тг),Brand,Size
0,Huawei P40 Lite Midnight Black,459926,119890,Huawei,49
1,Huawei P40 Lite E Midnight Black,459929,79890,Huawei,49
2,Samsung Galaxy Note 20 Gray,467447,499890,Samsung,109
3,Samsung Galaxy A51 128GB Black,433475,139890,Samsung,109
4,Samsung Galaxy A71 Black,443395,159890,Samsung,109
...,...,...,...,...,...
463,Prestigio Muze G7 Black,294124,39990,Prestigio,9
464,Haier Elegance E13 Gray,140400,66990,Haier,11
465,Doogee BL5500 Lite Black,373515,49990,Doogee,3
466,Haier Elegance E9 Black,140399,47990,Haier,11
467,Haier Power P11 Black,140397,48990,Haier,11

In [48]:
# Through Transform, I added a brand word next to each one
df['Brand'] = df['Brand'].transform(lambda x: x + " brand")
df

,Name,Product code,Price(Тг),Brand,Size
0,Huawei P40 Lite Midnight Black,459926,119890,Huawei brand,49
1,Huawei P40 Lite E Midnight Black,459929,79890,Huawei brand,49
2,Samsung Galaxy Note 20 Gray,467447,499890,Samsung brand,109
3,Samsung Galaxy A51 128GB Black,433475,139890,Samsung brand,109
4,Samsung Galaxy A71 Black,443395,159890,Samsung brand,109
...,...,...,...,...,...
463,Prestigio Muze G7 Black,294124,39990,Prestigio brand,9
464,Haier Elegance E13 Gray,140400,66990,Haier brand,11
465,Doogee BL5500 Lite Black,373515,49990,Doogee brand,3
466,Haier Elegance E9 Black,140399,47990,Haier brand,11
467,Haier Power P11 Black,140397,48990,Haier brand,11

<b>APPLY FUNCTIONS

apply(func, axis=0): call a function func along an axis of the DataFrame. It returns the result of applying func along the given axis.

In [49]:
#By Apply, I write the word "Смартфон" again in head of the phone names
df['Name'] = df['Name'].apply(lambda x: "Смартфон " + x)
df

,Name,Product code,Price(Тг),Brand,Size
0,Смартфон Huawei P40 Lite Midnight Black,459926,119890,Huawei brand,49
1,Смартфон Huawei P40 Lite E Midnight Black,459929,79890,Huawei brand,49
2,Смартфон Samsung Galaxy Note 20 Gray,467447,499890,Samsung brand,109
3,Смартфон Samsung Galaxy A51 128GB Black,433475,139890,Samsung brand,109
4,Смартфон Samsung Galaxy A71 Black,443395,159890,Samsung brand,109
...,...,...,...,...,...
463,Смартфон Prestigio Muze G7 Black,294124,39990,Prestigio brand,9
464,Смартфон Haier Elegance E13 Gray,140400,66990,Haier brand,11
465,Смартфон Doogee BL5500 Lite Black,373515,49990,Doogee brand,3
466,Смартфон Haier Elegance E9 Black,140399,47990,Haier brand,11
467,Смартфон Haier Power P11 Black,140397,48990,Haier brand,11

In [50]:
# And by Apply,before each product code, I created a function that writes the word ID
def add_id(x):
    return "ID: " + str(x)

df['Product code'] = df['Product code'].apply(add_id)
df

,Name,Product code,Price(Тг),Brand,Size
0,Смартфон Huawei P40 Lite Midnight Black,ID: 459926,119890,Huawei brand,49
1,Смартфон Huawei P40 Lite E Midnight Black,ID: 459929,79890,Huawei brand,49
2,Смартфон Samsung Galaxy Note 20 Gray,ID: 467447,499890,Samsung brand,109
3,Смартфон Samsung Galaxy A51 128GB Black,ID: 433475,139890,Samsung brand,109
4,Смартфон Samsung Galaxy A71 Black,ID: 443395,159890,Samsung brand,109
...,...,...,...,...,...
463,Смартфон Prestigio Muze G7 Black,ID: 294124,39990,Prestigio brand,9
464,Смартфон Haier Elegance E13 Gray,ID: 140400,66990,Haier brand,11
465,Смартфон Doogee BL5500 Lite Black,ID: 373515,49990,Doogee brand,3
466,Смартфон Haier Elegance E9 Black,ID: 140399,47990,Haier brand,11
467,Смартфон Haier Power P11 Black,ID: 140397,48990,Haier brand,11